.nav{
    height: 70px;
    color:maroon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 1.5rem;
    margin-left: 5px;
    color: rgb(114, 102, 102);
}