.nav {
  height: 70px;
  background-color: rgb(88, 42, 42);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
/* camera icon */
.icon {
  font-size: 1.5rem;
  margin-left: 5px;
  color: rgb(156, 149, 149);
}
